{{ define "main" }}
	<article class="content">
		<div>{{ .Content }}</div>
	</article>

	{{ if .Site.Data.authors }}
		<h3>My Background</h3>

	  <ul class="staff-list">
			{{ range .Site.Data.authors }}
				{{ if .is_staff_member }}
					<li class="staff">
						<div class="staff-details">
							<div class="staff-image">
								<img src="{{ .image }}" alt="Staff photo for {{ .name }}" height="240">
							</div>
							<ul class="staff-info">
								<li><h4>{{ .name }}</h4></li>
								<li><small><a>{{ .credentials }}</a></small></li>
							</ul>
						</div>

						<div class="staff-bio">
							<p>{{ .description }}</p>
							<p><h4>Certifications:</h4>
								<ul><small>
									<li>TCM Security Practical Network Penetration Tester (PNPT)</li>
									<li>CompTIA Security+ SY0-601</li>
									<li>MCSE</li>
									<li>MCSA</li>
									<li>CompTIA Network+</li>
									<li>CompTIA A+</li></small>
								</ul></p>
						</div>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	{{ end }}
{{ end }}
